<table>
  <tr *ngIf = "setRed"  style="background-color:lightcoral">
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{price}}</td>
    <td>{{stock}}</td>
  </tr>
  <tr *ngIf = "!setRed"  >
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{price}}</td>
    <td>{{stock}}</td>
  </tr>
</table>
