<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Price</th>
      <th>Stock</th>
    </tr>
    </table>
    <list-item *ngFor = "let product of products"
          [data] = "product"  
    ></list-item>
</div>
